.project-page {
  text-align: center;
  line-height: 20px;
  margin-bottom: 200px;
}
/* .project-page h2 {
font-size: 35px;
} */
.projects {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
padding-top: 50px;
}
.project-card {
  position: relative;
  max-width: 270px;
  height: 350px;
  background: transparent;
  border: solid 1px var(--transparent-grey);
  margin: 30px 20px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 45px var(--transparent-grey);
  justify-content: space-evenly;
}

.project-img {
  position: relative;
  top: -50px;
}
.project-img a img {
  width: 200px;
  height: 180px;
}
.project-content {
  position: relative;
  color: var(--white);
  padding: 0 10px;
  top: -15px;
}
.project-links {
  text-align: right;
  padding: 15px;
  transition: 5s ease-in;
  display: inline-flex;
  justify-content: space-between;
}
.project-links a {
  padding: 0 10px;
  font-size: 20px;
  color: var(--white);
  transition: .3s;
}
.project-links a:hover {
  font-size: 25px;
  filter: drop-shadow(0 0 7px var(--coral));
}
.project-desc a h4 {
  margin: 0;
  color: var(--coral);
  padding-bottom: 7px;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0;
}
.project-desc p {
  margin: 0;
}
@media screen and (min-width: 855px) {
  .project-page {
margin-left: 50px;
margin-right: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .project-page {
margin-left: 150px;
margin-right: 150px;
  }

}
@media screen and (min-width: 1750px) {
  .project-page {
margin-left: 200px;
margin-right: 200px;
  }
}
@media screen and (min-width: 1950px) {
  .project-page {
margin-left: 350px;
margin-right: 350px;
  }
  .project-card{
    margin: 55px;
  }
}