.resume-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 250px;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.check-icon {
  font-size: 12px;
  color: var(--coral);
}
.skill {
  margin: 4px 25px;
  font-size: 15px;
  font-weight: 800;
  background-image: linear-gradient(
    to right,
    rgb(221, 221, 29) 20%,
    var(--coral) 80%
  );
  color: transparent;
  background-clip: text;
}
.skill svg {
  color: var(--coral);
}
.my-resume {
  position: relative;
  border: 1px solid var(--transparent-white);
margin-top: 40px;
  padding: 5px;
  width: 270px;
  box-shadow: 0 5px 45px var(--transparent-grey);
  transition: 0.5s;
  overflow: hidden;
}
.my-resume:hover {
  font-size: 20px;
  width: 320px;
}
.my-resume::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: var(--transparent-white);
  transform: skewX(45deg) translateX(-80px);
  transition: 0.5s;
}
.my-resume:hover::before {
  transform: skewX(45deg) translateX(350px);
}
.logo {
  width: 30px;
  height: 30px;
}
.logos img {
  margin: 15px;
}
#handlebars,
#mongoose,
#express,
#git,
#sequelize {
  background: white;
  padding: 3px;
}
#apollo,
#graphql {
  background: white;
  padding: 3px;
  border-radius: 50%;
}
#javascript,
#jquery,
#sequelize {
  /* width:40px;
  height:40px; */
  border-radius: 50%;
  /* border: 1px solid blue; */
}
#npm {
  width: 55px;
}
/* .skill-resume {
  display: block;
} */
@media screen and (min-width: 485px) {
  .skills {
    padding: 55px;
  }
  .resume-page {
    padding: 55px;
  }
}
@media screen and (min-width: 1250px) {
  .resume-page {
    padding: 0 250px 150px 250px;
    margin: 70px 0;
  }
  .skill {
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1625px) {
  .skill {
    font-size: 25px;
  }
  .resume-page {
    padding: 0 310px 250px 310px;
  }
}
