.intro {
  margin-bottom: 40px;;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-name {
width: 300px;
}
.intro h5 {
  margin-bottom: 10px;
}
.intro .my-title {
  margin-top: 0;
}

.intro p {
  margin: 25px 10px 50px 10px;
}
.connect-link {
  position: relative;
  border: 1px solid var(--transparent-white);
  padding: 0;
  width: 300px;
  box-shadow: 0 5px 45px var(--transparent-grey);
  transition: 0.5s;
  overflow: hidden;
}

.connect-link:hover {
  font-size: 20px;
  width: 350px;
  height: 43px;
}

.connect-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: var(--transparent-white);
  transform: skewX(45deg) translateX(-70px);
  transition: 0.5s;
}
.connect-link:hover::before {
  transform: skewX(45deg) translateX(380px);
}

@media screen and (min-width: 1280px) {
  .intro{
    margin: 0 20% 10% 20%;
  }
  .my-name {
    width: 400px;
    }
    .intro p {
font-size: 22px;
    }
}