.navbar {
  position: sticky;
  top: 0;
  margin: 0 auto;
  background-color: var(--white);
  display: block;
  z-index: 1;
}
.logo {
  margin: 0;
}
.logo-content {
  position: relative;
  text-align: center;
  padding: 0.6rem;
  margin: 0.65rem 1rem 1rem 1rem;
  border: 3px solid var(--skin);
  color: black;
  font-weight: 800;
  font-size: 1.55rem;
}
.logo img {
  margin: 0 0 0 1.25rem;
  border-radius: 50%;
  width: 30%;
}
.navbar-sm-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger-btn {
  margin: 0 1rem;
  flex-basis: 20%;
}
.burger-menu {
  position: absolute;
  width: 100%;
  border-style: solid none solid none;
  border-color: var(--lgtaupe);
  border-width: 0.5px;
  margin: 0 auto;
  background-color: var(--white);
}
.menu-lg-screen {
  display: none;
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .burger-menu {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
  }
  .menu-lg-screen {
    display: block;
    margin: 0 1rem;
    flex-basis: 100%;
  }

}
@media screen and (min-width: 1024px) {
  .navbar {
    padding: 0 15rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    padding: 0 25rem;
  }
}