.contact-methods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
}

.contact-method {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 5px 5px 20px var(--trans-grey);
  margin: 1rem;
  padding: 0.5rem;
  width: 18rem;
}

.contact-method.resume {
  background-color: rgba(25, 154, 234, 0.175);
}
.contact-method.email {
  background-color: rgba(151, 77, 198, 0.286);
}
.contact-method.phone {
  background-color: rgba(152, 193, 91, 0.322);
}
.contact-method img {
  width: 45px;
  margin: 0;
}
.contact-method a {
  color: var(--black);
  font-weight: 600;
  font-size: 0.85rem;
  margin: auto 10px;
  transition: color 0.25s linear;
}
.contact-method a:hover {
  color: var(--white);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact-form input,
.contact-form textarea {
  box-shadow: 5px 5px 20px var(--trans-grey);
  color: var(--black);
  margin: 0.5rem auto;
  border: 1px solid var(--taupe);
  border-radius: 20px;
  padding: 1rem;
  width: 80%;
  font-family: var(--poppins);
}
.contact-form button {
  border: 2px solid var(--taupe);
  margin: 2rem auto;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 26px;
  box-shadow: 5px 5px 20px var(--trans-grey);
  font-family: var(--poppins);
  font-size: 1rem;
  background-color: var(--white);
  transition: all 0.125s linear;
  color: var(--black);

}
.contact-form button:hover {
  background-color: var(--taupe);
  color: var(--white);
}
.contact-form button:active {
  border: 1px solid var(--black);
}
@media screen and (min-width: 768px) {
  .contact-form {
    margin: 5rem 3rem;
  }
}
@media screen and (min-width: 1024px) {
  #contact-section .sections-heading {
    text-align: center;
    margin-bottom: 0;
  }
  #contact-section {
    padding: 1rem 10rem;
  }
  .contact-methods {
    margin: 0 1rem;
  }
  .contact-form {
    margin: 5rem 8rem;
  }
}
