.footer {
  background-color: rgb(36, 36, 36);
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* -ms-flex-item-align: center; */
  flex-grow: 1;
}
.footer ul {
  /* position: relative; */
  display: flex;
  z-index: 2;
}
.footer ul li {
  position: relative;
  margin: 3px;
}
.footer-link {
  position: relative;
  font-size: 18px;
  padding: 10px;
  width: 15px;
  height: 15px;
  box-shadow: 0 3px 50px var(--transparent-grey);
  border: solid 1px var(--transparent-white);
  border-radius: 3px;
  transition: 0.5s;
  overflow: hidden;
}
/* .footer-link a {
  top: -100px;
} */
.icon {
  position: absolute;
}
.footer-link:hover {
  font-size: 15px;
}

.footer-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: var(--transparent-white);
  transform: skewX(45deg) translateX(-40px);
  transition: 0.3s;
}
.footer-link:hover::before {
  transform: skewX(45deg) translateX(50px);
}
